.btn-login {
    background-color: #008b00;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.btn-login:hover {
    background-color: #006400;
    color: white;
}
.btn-register {
    background-color: #008b00;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.btn-register:hover {
    background-color: #006400;
    color: white;
}
